.admin{
    margin-top: 80px;
    margin-left: 200px;
    color:tomato ;
   margin-left: 600px;
   margin-top: 300px;
   font-weight: 700;
   font-size: xx-large;
}
@media (max-width: 600px) {
    .admin {
        width: 50px;
        font-size: medium;
        font-size: large;
        margin-left: 150px;
    }
    
    
}