.navebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background: black;
    position: fixed;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}
.navebar .logo{
    margin-top: 20px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.navebar .profile{
    width: 40px;
    color: white;
    font-size: xx-large;
}